html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	background-color: #202023;
}
.myNavbar {
	overflow: hidden;
	a {
		font-size: 12px!important;
		font-size: 12px!important;
		&.me {
			float: left!important;
			display: block!important;
			color: rgb(68, 235, 185)!important;
			text-align: center!important;
			text-decoration: none!important;
			font-size: 2rem!important;
			pointer-events: none!important;
			cursor: default!important;
			text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.25em currentColor!important;
			font-size: 25px!important;
		}
		&.aboutme {
			float: left;
			color: whitesmoke;
			text-align: center;
			text-decoration: none;
			font-size: 1rem;
			font-family: "Lucida Console", monospace;
			position: relative;
			left: 8%;
			top: 1em;
		}
		&.works {
			float: left;
			color: whitesmoke;
			text-align: center;
			text-decoration: none;
			font-size: 1rem;
			font-family: "Lucida Console", monospace;
			position: relative;
			left: 16%;
			top: 1em;
		}
		&.contacts {
			float: left;
			color: whitesmoke;
			text-align: center;
			text-decoration: none;
			font-size: 1rem;
			font-family: "Lucida Console", monospace;
			position: relative;
			left: 24%;
			top: 1em;
		}
		&.github {
			float: right;
			position: relative;
			top: 0.4rem;
			right: 0.5%;
		}
		&.linkedin {
			float: right;
			position: relative;
			top: 0.16rem;
		}
		&.activeAboutMe {
			color: rgb(68, 235, 185)!important;
			float: left;
			text-align: center;
			text-decoration: none;
			font-size: 1rem;
			font-family: "Lucida Console", monospace;
			position: relative;
			left: 8%;
			top: 1em;
		}
		&.activeWorks {
			float: left;
			color: rgb(68, 235, 185)!important;
			text-align: center;
			text-decoration: none;
			font-size: 1rem;
			font-family: "Lucida Console", monospace;
			position: relative;
			left: 16%;
			top: 1em;
		}
		&.activeContacts {
			float: left;
			color: rgb(68, 235, 185)!important;
			text-align: center;
			text-decoration: none;
			font-size: 1rem;
			font-family: "Lucida Console", monospace;
			position: relative;
			left: 24%;
			top: 1em;
		}
		&.icon {
			font-size: 20px;
		}
	}
	.icon {
		float: right;
		font-size: 35px;
		color: whitesmoke;
		display: none;
	}
	&.cell {
		height: 100px;
	}
	.lightTheme {
		&:hover {
			color: rgb(68, 235, 185)!important;
		}
	}
	&.responsive {
		.icon {
			position: absolute;
			right: 0;
			top: 0;
		}
		a {
			top: 40px;
			float: none;
			display: block;
			left: 0;
			text-align: right;
			height: 18px;
		}
		.me {
			float: left;
		}
	}
}
img {
	&.github {
		float: left;
		max-width: 2.06rem;
		height: auto;
		filter: brightness(500);
		position: relative;
	}
	&.linkedin {
		float: left;
		max-width: 2.5rem;
		height: auto;
		position: relative;
		filter: invert();
	}
	&.myImg {
		position: relative;
		right: -25%;
		width: 50%;
		height: auto;
		top: 20%;
		border-radius: 50%;
	}
	&.up {
		float: left;
		max-width: 60px;
		height: auto;
		position: relative;
		max-width: 40px;
	}
	&.logo {
		top: 5px;
		float: left;
		max-width: 100px;
		height: 100%;
		position: relative;
	}
	&.DarkOrLight {
		width: 28px;
		height: 28px;
		display: none!important;
	}
}
.myNavbar a.aboutme:hover, a.works:hover, a.contacts:hover {
	color: rgb(68, 235, 185);
}
div {
	&.main {
		width: 80%;
		position: relative;
		top: 1rem;
		left: 0;
		margin: auto;
	}
	&.aboutme {
		position: relative;
		width: 100%;
		height: 948px;
		border-top: solid;
		border-color: rgba(194, 196, 195, 0.356);
		border-width: 1px;
		top: 2px;
		height: 600px;
		height: 650px;
		height: 550px!important;
		height: 600px!important;
	}
	&.aboutmeLeft {
		width: 40%;
		float: left;
		position: relative;
		height: 100%;
	}
	&.aboutmeRight {
		position: relative;
		width: 60%;
		float: right;
		height: 100%;
	}
	&.button {
		position: relative;
		top: 5em;
		left: 35%;
		padding-top: 1.2rem;
		padding-bottom: 3rem;
		width: fit-content;
		left: 28%;
		top: 25px;
	}
	&.works {
		width: 100%;
		position: relative;
		height: 950px;
		top: 1px;
		height: 550px;
		top: 20px;
		height: 750px;
		top: 40px;
		height: 1210px;
		top: 50px;
		height: 1080px;
		height: 1080px;
		height: 900px!important;
	}
	&.contacts {
		width: 100%;
		position: relative;
		height: 500px;
		top: -50px;
		top: -120px;
		top: 0px;
		top: -60px;
		height: 720px;
		height: 250px;
		top: 0px;
		height: 360px!important;
		height: 340px;
		height: 270px!important;
		height: 300px!important;
		height: 240px!important;
		height: 260px!important;
		p {
			font-size: 15px!important;
			font-size: 12px!important;
		}
	}
	&.bio {
		position: relative;
		width: auto;
		height: auto;
		top: 130px;
		left: 5%;
		left: 0px;
		top: 50px;
	}
	&.contactsWrite {
		position: relative;
		left: 2%;
		top: 30px;
		color: whitesmoke;
		font-size: xx-large;
		font-weight: bold;
		border-bottom: 3px solid hsl(0 0% 100% / 0.3);
		display: inline-block;
		line-height: 0.85;
		top: 10px;
		top: -60px;
	}
	&.contactsLink {
		position: relative;
		top: 10px;
		left: 24px;
		width: 390px;
		height: 50px;
		cursor: pointer;
		left: 0px;
		width: 100%;
		text-align: left;
		height: 36px;
		top: -75px;
		&:hover {
			background-color: rgba(0, 255, 229, 0.116);
			border-radius: 10px;
		}
		p {
			position: relative;
			color: whitesmoke;
			font-size: xx-large;
			position: relative;
			vertical-align: center;
			top: 15px;
			font-size: large!important;
		}
	}
	&.anclLeft {
		top: 30px;
		width: 50%;
		float: left;
		position: relative;
		height: auto;
		img {
			height: auto;
			width: 80%;
		}
	}
	&.anclRight {
		width: 50%;
		float: right;
		position: relative;
		height: auto;
		width: 100%;
	}
}
.aboutmeLeft {
	width: 100%!important;
	height: 620px;
	p {
		&.big {
			color: whitesmoke;
			font-family: "Lucida Console", monospace;
			font-size: xxx-large;
			margin: 0;
			white-space: pre-line;
			left: 5%;
			position: relative;
			font-size: xx-large;
			text-align: center;
			left: 0px;
			top: 15px;
		}
		&.hobbies {
			color: whitesmoke;
			font-family: "Lucida Console", monospace;
			font-size: larger;
			margin: 0;
			line-height: 1.2em;
			left: 5%;
			position: relative;
			top: 10px;
			font-size: large;
			left: 0px;
		}
		&.love {
			color: whitesmoke;
			font-family: "Lucida Console", monospace;
			font-size: xx-large;
			margin: 0;
			left: 5%;
			position: relative;
			border-bottom: 3px solid hsl(0 0% 100% / 0.3);
			display: inline-block;
			line-height: 0.85;
			font-weight: bold;
			left: 0px;
		}
	}
}
mark {
	&.red {
		color: red;
		background: none;
		text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px red, 0 0 5px rgb(235, 57, 57);
	}
	&.green {
		color: green;
		background: none;
		text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 255, 0), 0 0 5px rgb(2, 83, 2);
	}
	&.blue {
		color: rgb(0, 140, 255);
		background: none;
		text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(83, 172, 231), 0 0 5px rgb(7, 92, 126);
	}
	&.white {
		color: whitesmoke;
		background: none;
		text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(207, 206, 206), 0 0 5px whitesmoke;
	}
	&.blue2 {
		color: rgb(0, 140, 255);
		background: none;
	}
	&.lightblue {
		color: rgb(0, 255, 234);
		background: none;
		text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 255, 234), 0 0 5px rgb(129, 221, 213);
	}
	&.lightblueTech {
		color: rgb(0, 255, 234);
		background: none;
	}
	&.lime {
		color: rgb(0, 255, 64);
		background: none;
		text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 255, 64), 0 0 5px rgb(120, 252, 153);
	}
	&.limeTech {
		color: rgb(0, 255, 64);
		background: none;
	}
}
:root {
	--clr-neon: rgb(0, 252, 155);
	--clr-bg: #202023;
}
.neon-button {
	font-size: 2rem;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: var(--clr-neon);
	border: var(--clr-neon) 0.125em solid;
	padding: 0.25em 1em;
	border-radius: 0.25em;
	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
	box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
	position: relative;
	&::before {
		pointer-events: none;
		content: "";
		position: absolute;
		background: var(--clr-neon);
		top: 120%;
		left: 0;
		width: 100%;
		height: 100%;
		transform: perspective(1.3em) rotateX(40deg) scale(1, 0.35);
		filter: blur(1em);
		opacity: 0.7;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: 0 0 2em 0.5em var(--clr-neon);
		opacity: 0;
		background-color: var(--clr-neon);
		z-index: -1;
		transition: opacity 100ms linear;
	}
}
.neon-button:hover,
.neon-button:focus {
	color: var(--clr-bg)!important;
	text-shadow: none;
	transform: scale(1.1);
	color: #f0e7db!important;
}
.neon-button:hover::before,
.neon-button:focus::before {
	opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
	opacity: 1;
}
.backToTop {
	position: fixed;
	bottom: 20px;
	right: 15px;
	z-index: 99;
	font-size: 18px;
	display: none;
	cursor: pointer;
	color: rgb(226, 226, 152);
	border: rgb(226, 226, 152) 0.125em solid;
	border-radius: 50%;
	background-color: #20202300;
	padding: 1px;
	text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em currentColor;
	box-shadow: inset 0 0 0.5em 0 rgb(226, 226, 152), 0 0 0.5em 0 rgb(226, 226, 152);
	opacity: 0.85;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: 0 0 1.5em 0em rgb(226, 226, 152);
		opacity: 0;
		background-color: #20202300;
		z-index: -1;
		transition: opacity 100ms linear;
		border-radius: 50%;
	}
	&:after {
		opacity: 0.85;
	}
}
.backToTop:hover,
.backToTop:focus {
	color: rgb(226, 226, 152);
	text-shadow: none;
}
.backToTop:hover::before,
.backToTop:focus::before {
	opacity: 1;
}
.backToTop:hover::after,
.backToTop:focus::after {
	opacity: 1;
}
.bioTable {
	border-width: 2px;
	border-spacing: 0 15px;
	width: 100%;
	td {
		position: relative;
		border-width: 2px;
		font-size: larger;
		color: whitesmoke;
		font-family: "Lucida Console", monospace;
		&.anno {
			position: relative;
			font-size: larger;
			font-weight: bold;
			color: whitesmoke;
		}
	}
	th {
		position: relative;
		color: whitesmoke;
		font-size: xx-large;
		font-weight: bold;
		border-bottom: 3px solid hsl(0 0% 100% / 0.3);
		display: inline-block;
		line-height: 0.85;
	}
}
#customer {
	position: relative;
	width: 89.9%;
	left: 5%;
	top: -20px;
	top: -30px;
}
#myProjects {
	top: 40px;
	position: relative;
	width: 89.9%;
	left: 5%;
	float: left;
	top: -30px;
	top: -30px;
	top: 10px;
	top: -20px;
	top: -60px;
}
.split {
	width: 33.3%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 16px;
	position: relative;
	width: 50%;
	height: 100%;
	width: 100%;
	height: auto;
	text-align: left;
	top: 0px;
	top: -40px;
	top: -20px;
}
.works {
	p {
		&.works {
			color: whitesmoke;
			font-size: xx-large;
			font-family: "Lucida Console", monospace;
			position: relative;
			left: 2%;
			border-bottom: 3px solid hsl(0 0% 100% / 0.3);
			display: inline-block;
			line-height: 0.85;
			font-weight: bold;
			left: 0px;
			top: -30px;
		}
		&.subWorks {
			color: whitesmoke;
			font-size: large;
			font-family: "Lucida Console", monospace;
			border-bottom: 3px solid hsl(0 0% 100% / 0.3);
			display: inline-block;
			line-height: 0.85;
			position: relative;
			font-size: 17px;
			top: -40px;
		}
	}
}
.box {
	top: 100%;
	width: 100%;
	position: relative;
	height: 333px;
}
.box2 {
	top: 100%;
	width: 100%;
	position: relative;
	height: 333px;
}
.photo {
	width: 100%;
	height: auto;
	background-color: whitesmoke;
	border-radius: 5%;
	img {
		width: 100%;
		height: 100%;
		border-radius: 5%;
		background-color: turquoise;
		filter: brightness(80%);
		box-shadow: 5px 5px 10px rgba(241, 214, 62, 0.274);
	}
	a {
		color: black;
	}
}
.photo-overlay {
	width: 100%;
	height: auto;
	background-color: whitesmoke;
	border-radius: 5%;
}
.click {
	box-shadow: 5px 5px 5em rgba(241, 214, 62, 0.534);
	transform: scale(1.08);
	display: block;
	cursor: pointer;
}
.clickLight {
	box-shadow: 5px 5px 5em rgb(89, 0, 255);
	transform: scale(1.08);
	display: block;
	cursor: pointer;
}
#titoloANCL {
	color: black;
	position: fixed;
	top: 1px;
	left: 25%;
	white-space: pre-line;
	left: 0px;
	top: 0px;
	font-size: 15px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
	left: 0px;
	top: 0px;
	font-size: 15px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
	left: 0px;
	top: 0px;
	font-size: 11px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
}
#descrizioneANCL {
	color: black;
	position: fixed;
	top: 75px;
	left: 0.5%;
	white-space: pre-line;
	font-size: x-large;
	left: 0px;
	font-size: 15px;
	top: 31px;
	background-color: rgba(0, 0, 0, 0.116);
	white-space: normal;
	left: 0px;
	font-size: 15px;
	top: 31px;
	background-color: rgba(0, 0, 0, 0.116);
	white-space: normal;
	left: 0px;
	font-size: 11px;
	top: 31px;
	background-color: rgba(0, 0, 0, 0.116);
	white-space: normal;
}
#descrizioneRuffo {
	color: black;
	position: fixed;
	top: 70px;
	left: 2%;
	font-size: x-large;
	white-space: pre-line;
	left: 0px;
	font-size: 15px;
	top: 21px;
	background-color: rgba(0, 0, 0, 0.116);
	white-space: pre-line;
	left: 0px;
	font-size: 15px;
	top: 31px;
	background-color: rgba(0, 0, 0, 0.116);
	white-space: pre-line;
	left: 0px;
	font-size: 11px;
	top: 31px;
	background-color: rgba(0, 0, 0, 0.116);
	white-space: pre-line;
}
#titoloRuffo {
	color: black;
	position: fixed;
	top: 1px;
	left: 30%;
	white-space: pre-line;
	left: 2%;
	top: 0px;
	font-size: 15px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
	left: 4%;
	top: 0px;
	font-size: 15px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
	left: 4%;
	top: 0px;
	font-size: 11px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
}
#descrizioneWebsite {
	color: black;
	position: fixed;
	top: 40px;
	left: 2%;
	font-size: x-large;
	white-space: pre-line;
	left: 0px;
	font-size: 15px;
	top: 21px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
	left: 0px;
	font-size: 15px;
	top: 31px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
	left: 0px;
	font-size: 11px;
	top: 15px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
}
#titoloWebsite {
	color: black;
	position: fixed;
	top: 1px;
	left: 25%;
	white-space: pre-line;
	left: 17%;
	top: 5px;
	font-size: 15px;
	white-space: normal;
	left: 4%;
	top: 0px;
	font-size: 15px;
	white-space: normal;
	left: 18%;
	top: 0px;
	font-size: 11px;
	white-space: normal;
}
#descrizionePysubot {
	color: black;
	position: fixed;
	top: 40px;
	left: 2%;
	font-size: x-large;
	white-space: pre-line;
	left: 0px;
	font-size: 15px;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.377);
	white-space: normal;
	left: 0px;
	font-size: 15px;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.377);
	white-space: normal;
	left: 0px;
	font-size: 11px;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.377);
	white-space: normal;
}
#titoloPysubot {
	color: black;
	position: fixed;
	top: 1px;
	left: 36%;
	white-space: pre-line;
	left: 35%;
	top: 0px;
	font-size: 15px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
	left: 35%;
	top: 0px;
	font-size: 15px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
	left: 35%;
	top: 0px;
	font-size: 11px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
}
#descrizioneMinecraft {
	color: black;
	position: fixed;
	top: 40px;
	left: 2%;
	font-size: x-large;
	white-space: pre-line;
	left: 0px;
	font-size: 15px;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.356);
	white-space: normal;
	left: 0px;
	font-size: 15px;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.356);
	white-space: normal;
	left: 0px;
	font-size: 11px;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.356);
	white-space: normal;
}
#titoloMinecraft {
	color: black;
	position: fixed;
	top: 20px;
	left: 27%;
	white-space: pre-line;
	left: 27%;
	top: 0px;
	font-size: 15px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
	left: 27%;
	top: 0px;
	font-size: 15px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
	left: 27%;
	top: 0px;
	font-size: 11px;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.116);
}
.ghost {
	display: none;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
footer {
	text-align: center;
	padding-bottom: 3px;
	color: white;
	border-top: 1px solid hsl(0 0% 100% / 0.3);
	text-align: center!important;
	text-align: left;
	text-align: left!important;
	text-align: left!important;
	text-align: left;
	text-align: left;
	text-align: center!important;
	p {
		font-size: 12px;
		font-size: 11px;
		font-size: 10px;
		font-size: 8px;
	}
}
.theme {
	background-color: #f0e7db;
}
.lightTheme {
	color: black!important;
}
.lightDivAboutMe {
	border-color: black!important;
}
.lightButton {
	color: rgb(119, 0, 255)!important;
	border: rgb(119, 0, 255) 0.125em solid;
	box-shadow: inset 0 0 0.5em 0 rgb(119, 0, 255), 0 0 0.5em 0 rgb(119, 0, 255);
	&::before {
		background: rgb(119, 0, 255);
	}
	&::after {
		box-shadow: 0 0 2em 0.5em rgb(119, 0, 255);
		background-color: rgb(119, 0, 255);
	}
}
.hoverLight {
	&:hover {
		background-color: rgba(119, 0, 255, 0.13)!important;
	}
}
.lightGit {
	background-color: rgb(0, 0, 0)!important;
	border-radius: 50%!important;
}
.lightLinkedin {
	filter: none!important;
}
.backToTopLight {
	color: rgb(34, 34, 31)!important;
	border: rgb(34, 34, 31) 0.125em solid!important;
	box-shadow: inset 0 0 0.5em 0 rgb(111, 0, 255), 0 0 0.5em 0 rgb(111, 0, 255)!important;
	&::after {
		background-color: rgba(18, 17, 19, 0.082)!important;
		box-shadow: 0 0 1.5em 0em rgb(111, 0, 255)!important;
	}
	img {
		&.up {
			background-color: rgba(19, 17, 20, 0.212)!important;
			border-radius: 50%;
		}
	}
}
.backToTopLight:hover,
.backToTopLight:focus {
	color: rgb(111, 0, 255)!important;
}
.boxLight {
	img {
		box-shadow: 5px 5px 10px rgb(111, 0, 255)!important;
	}
}
.sunOrMoon {
	background-color: #f0e7db;
	position: relative;
	float: right;
	right: 10px;
	top: 5px;
	border-radius: 8px;
	border: solid;
	border-width: 2px;
}
.dark {
	background-color: #202023;
	img {
		filter: invert();
	}
}
.borderLight {
	border-bottom: 3px solid rgba(26, 24, 27, 0.452)!important;
	font-weight: bold;
}
.footerBorder {
	border-top: 1px solid rgb(0, 0, 0);
}
.fade-in {
	opacity: 0;
	transition: opacity 250ms ease-in;
	&.appear {
		opacity: 1;
	}
}
@media {
	screen {
		and {
			(max-width {
				&: {
					1024px) {
						.contacts p{
  font-size: 24px!important;
					}
					240px) {
						div.works{
    top: 70px;
					}
					830px) {
						div.anclLeft{
    width: 100%;
						top: 0px;
					}
				}
			}
		}
	}
}
.aboutmeRight {
	width: 0%;
	display: none;
}
.big {
	left: 0px!important;
	text-align: center;
	white-space: normal!important;
	top: 10px;
	font-size: 26px!important;
}
.love {
	left: 2%!important;
	top: 60px;
	font-size: 20px!important;
}
.hobbies {
	left: 0px!important;
	top: 60px!important;
	left: 2%!important;
	font-size: 15px!important;
}
.button {
	left: 42.5%!important;
	top: 90px!important;
	left: 32.5%!important;
	left: 27%!important;
}
.bio {
	top: 90px!important;
	left: 2%!important;
	th {
		font-size: 20px!important;
		font-size: 20px!important;
	}
}
p {
	&.works {
		left: 2%!important;
		font-size: 20px!important;
		position: relative;
	}
	&.subWorks {
		font-size: 15px!important;
		top: -20px!important;
	}
}
.box, .box2 {
	height: 185px;
	top: -20px;
}
.imgOpacity {
	opacity: 100%;
	opacity: 100%;
}
div.photo p, h2, a {
	color: white!important;
}
} {
	@media {
		screen {
			and {
				(max-width {
					&: {
						830px) {
							.myNavbar img {display: none;
						}
						768px) {
							#myProjects{
  top: -90px;
						}
						692px) {
							.myNavbar a: not(:first-child) {display: none;
						}
						660px) {
							.myNavbar a.icon {
  float: right;
							display: block;
							.myNavbar.responsive {position: relative;
						}
						540px) {
							div.aboutme{
    height: 640px;
						}
						414px) {
							.aboutme{
  height: 620px;
							div.aboutme{
  height: 580px;
						}
						411px) {
							.bio td, td.anno{
  font-size: 19px!important;
						}
						375px) {
							div.aboutme{
  height: 700px!important;
						}
						360px) {
							.big{
  font-size: 20px!important;
						}
						350px) {
							.myNavbar .me, .fa{
  font-size: 20px!important;
						}
						320px) {
							.myNavbar a.icon{
  font-size: 13px;
						}
						280px) {
							.bio td, td.anno{
  font-size: 13px!important;
						}
					}
				}
			}
		}
	}
	} {
		.grid-1 {
			display: grid;
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 80px auto 80px;
			grid-gap: 20px;
			grid-template-areas: "header      header"
                       "sidebar      main"
                       "footer     footer";
		}
	}
	.whatIdid {
		width: 50%;
		float: left;
		position: relative;
		height: auto;
	}
}
.DarkOrLight {
	display: block!important;
}
button {
	&.sunOrMoon {
		top: 2px;
		height: 33px;
		top: 2px;
		height: 32px;
		top: 2px;
		height: 20px;
		width: 25px;
		top: 0px;
		top: 0px;
	}
}
.bio td, td.anno {
	font-size: 15px!important;
	font-size: 15px!important;
}
.contactsWrite {
	font-size: 20px!important;
}
.myNavbar .me, .fa {
	font-size: 20px!important;
}
.grid-1 {
	div {
		color: white;
		padding: 20px;
	}
}
.item-1 {
	grid-area: header;
	text-align: center;
	font-size: 40px;
}
.item-2 {
	grid-area: main;
	font-size: 25px;
}
.item-3 {
	grid-area: sidebar;
	img {
		height: auto;
		width: 100%;
		border-radius: 3%;
	}
}
.item-4 {
	grid-area: footer;
	font-size: 25px;
	text-align: center;
}
.item-5 {
	grid-area: header;
}
.item-6 {
	background: #3d8bb1;
	grid-area: article;
}
.item-7 {
	background: #e03f3f;
	grid-area: footer;
}
.anclRight {
	p {
		color: whitesmoke;
		font-size: x-large;
	}
}
.whatIlldo {
	width: 50%;
	float: right;
	position: relative;
	height: auto;
}
.anclLeft {
	img {
		border-radius: 2%;
	}
}
